body{
    background-image: url(../assets/background/bg_wallpaper.webp);
    background-position: center;
    background-size: cover;
    color: white;
    font-family: Quicksand, sans-serif;
}
 
.container{
    display: grid;
    border: 1px solid red;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    justify-content: center;
}

.container img{
    height: 35px;
    width: 35px;
    object-fit: contain;
    align-items: center;
    border-radius: 8px;
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.3s ease,filter 0.3s ease;

}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(201, 199, 199, 0.5);
    max-width: max-content;
    padding: 10px;
    border-radius: 18px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}


img:hover{
    transform: scale(1.2);
    filter: drop-shadow(0 0 4px white);
}

h1, h2 {
    color: white;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 1.5rem;
}

@media (min-width: 1024px) {
    body {
        font-size: 1.2rem;
    }

    .container img {
        height: 50px;
        width: 50px;
    }

    h1, h2 {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .flex-row{
        overflow-x: scroll;
    }

    body{
        display: flex;
    }
    
}
