body{
    background-image: url(icon/bg_wallpaper.webp);
    background-position: center;
    background-size: cover;
    color: white;
    font-family: Quicksand;
}
 
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.container img{
    height: 35px;
    width: 35px;
    object-fit: contain;
    align-items: center;
    border-radius: 8px;
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.3s ease,filter 0.3s ease;
}

.flex-row{   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(201, 199, 199, 0.5);
    max-width: 400px;
    padding: 10px;
    border-radius: 18px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}


img:hover{
    transform: scale(1.2);
    filter: drop-shadow(0 0 4px white);
}

h1, h2 {
    color: white;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 1.5rem;
}